{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
	<meta charset="UTF-8">
	<title>sobre</title>
</head>


<body>
 <link rel="stylesheet" href="static/css/estilo.css">
    <div class="container">
         <figure>
               <figcaption>
                        <h1>DHEL Cabeleireiros unissex</h1>
                    </figcaption>
         <img id="baixados" src="../static/imagens/baixados.jpg" class="titulo" title="Cabeleireiros">
         <img id="unha" src="../static/imagens/unha.jpg" class="titulo" title="Manicure">
         <img id="sobc" src="../static/imagens/sobc.jpg" class="titulo" title="Design de Sobrancelhas">

        </figure>
    </div>

        <section>
            <p>Somos profissionais da área de beleza e estética. Atuamos no ramo há 16 anos, proporcionando aos nossos
            clientes um serviço de altíssima
            qualidade com um ótimo custo beneficio.</p>
            <br><br>
            <h2>Nossa missão:</h2>
            <p>Proporcionar aos nossos clientes um serviço de qualidade, que eleve a sua auto estima e contribua
                para uma saúde melhor.</p>
        </section>



        <aside>

            <h2>Pilares do nosso estabelecimento:</h2>

            <p>
                <li>Respeito</li>
            <p>
                <li>Honestidade</li>
            <p>
                <li>Transparência</li>
            <p>
                <li>Compromisso com o bem estar </li>
                <br><br>

        </aside>

        <footer>
            <strong>Endereço:</strong><br><br>Rua Santa Cruz do monte Castelo, 12 B - Jardim Paraná - São Paulo<br>Tel.
            98546-3550 / 98332-1977<br>&copy; Copyright 2021 HTML.am
        </footer>

</body>

{% endblock %}
